:root {
    --background-color: #212121;
    --bottom-bar-color: #424242;
    --text-color: #fff;
    --border-color: #fff;
}
/* Reset some default browser styles */
body, h1, p, nav, #bottombar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography and body styling */
body {
    font-family: 'Literata', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
}
#about-content {
    text-align: justify;
    overflow-y: auto;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;    
    color: var(--text-color);
    /* font-family: 'Literata', serif; */
    line-height: 1.6; 
}
/* Navbar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--border-color);
    z-index: 1000;
}

nav a {
    font-family: inherit;
    font-size: 1em;
    color: var(--border-color);
    margin: 0 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px hidden;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--bottom-bar-color);
}

nav a#about-link {
    margin-left: auto;
}

/* Content styling */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    min-width: 600px;
    padding: 20px;
    color: var(--text-color);
}

/* Bottom bar styling */
#bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 80px;
    background-color: var(--bottom-bar-color);
    color: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#bottombar heart-icon {
    height: 32px;
}
